body {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

#overlay {
  height: 100%;
  display: flex;
  
}

#overlay .card {
  border-radius: 20px;
}

.taskTitle, .close{
  cursor: pointer;
}

.general {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91vh;
  padding: 0;
  max-width: 1200px;
  margin: auto;
}

.navbar {
  z-index: 10;
}

.todoForm {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
